.playlist-preview-small {
  width: 362px;
  height: 100px;
  background: #303030;
  display: flex;
  flex-direction: row;
  gap: 10px;
  border-radius: 4px 0px 0px 4px;
  margin: 20px;
}

.playlist-preview-small-info {
  align-self: center;
  font-size:  large;

}

.playlist-preview-large {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 300px;
  width: 231px;
  background: #1f1f1f;
  margin: 10px;
  border-radius: 10px;
}

.playlist-preview-large:hover {
  cursor: pointer;
}

.playlist-preview-large-cover {
  height: 50%;
  padding: 20px;
  box-sizing: border-box;
}

.playlist-preview-large-info {
  height: 50%;
  margin: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
